@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Whisper&display=swap');

:root {
  --primary-color: #622618ff;
  --secondary-color: #3a1a0dff;
  --accent-color: #258ea6ff;
  --light-color: #f0eff4ff;
  --dark-color: rgb(0, 0, 0);
  --font-size-default: 2.3em;
  --font-size-large: 3.3em;
  --font-size-small: 1.5em;
  --transition-duration: 1.2s;
  --background-opacity: 0.9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 94%;
  background-color: var(--secondary-color);
  color: var(--secondary-color);
  font-family: italianno, Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--font-size-default);
  position: relative;
}
body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../pictures/pergamen2jpg-min.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  opacity: var(--background-opacity);
  border-radius: 12px;
  border-right: 10px groove grey;
  border-left: 10px groove gray;
  box-shadow: inset -5px -5px 10px 0px rgba(250, 5, 5, 0.5),
    5px 5px 10px 0px var(--accent-color),
    inset 5px 5px 10px 2px rgba(250, 5, 5, 0.5),
    -5px -5px 10px 2px var(--accent-color);
  box-sizing: border-box;
}

main {
  text-align: justify;
  margin: 0 10px;
}

header {
  background-image: url(../pictures/Fontana-Maggiore-e-Palazzo-Dei-Priori-.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  width: 94%;
  z-index: 1000;
  font-size: 0.4em;
  border-radius: 5px;
}
header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    15deg,
    var(--primary-color),
    var(--light-color),
    var(--accent-color)
  );
  opacity: 0.8;
  z-index: 1;
  border-radius: 5px;
  box-shadow: inset -5px -5px 10px 0px rgba(250, 5, 5, 0.5),
    5px 5px 10px 0px var(--accent-color),
    inset 5px 5px 10px 2px rgba(250, 5, 5, 0.5),
    -5px -5px 10px 2px var(--accent-color);
}

header > * {
  position: relative;
  z-index: 2;
}
#header-image {
  display: block;
  margin: 0 auto;
  padding: 20px;
}
.header-img {
  transition: opacity 2s ease;
}

nav ul {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
nav a {
  display: inline-block;
  font-size: var(--font-size-large);
  text-decoration: none;
  background-color: transparent;
  text-align: center;
  padding: 0px 5px;
  text-shadow: 4px 8px 15px var(--light-color);
  color: var(--secondary-color);
  font-weight: 700;
  transition: transform var(--transition-duration);
}
nav a:hover {
  color: var(--accent-color);
  background-color: var(--light-color);
  opacity: 0.7;
  transform: scale(1.2, 1.5);
}
.gallery-menu .submenu {
  display: none;
  position: absolute;
  background: transparent;
  padding-bottom: 10px;
  border-radius: 5px;
  transform: scale(0.9);
  transition: transform var(--transition-duration);
}
.gallery-menu .submenu li {
  margin-left: 5px;
  margin-top: 10px;
}
.gallery-menu:hover .submenu {
  display: block;
  background-color: rgba(208, 201, 201, 0.8);
}

section {
  margin-bottom: 20px;
  margin-top: 40px;
  position: relative;
}
section:first-of-type {
  margin-top: 250px;
  padding-top: 50px;
}
h2 {
  margin-top: 0;
  text-align: center;
}

h3 {
  font-size: larger;
  margin-top: 10px;
}

p {
  text-shadow: 1px -1px 1px rgb(0, 51, 255);
  font-size: larger;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: var(--accent-color);
  text-shadow: 1px -1px 1px rgb(0, 51, 255);
}

p::first-letter,
a::first-letter,
h2::first-letter,
h3::first-letter {
  font-size: 115%;
  font-weight: bold;
  letter-spacing: 0.1em;
  word-spacing: 0.1em;
  text-shadow: var(--primary-color) 2px 0 10px;
  text-transform: uppercase;
  color: red;
  background-color: rgba(255, 0, 0, 0.1);
}

figure img {
  max-width: 200px;
  box-shadow: 3px 3px 5px 1px #3a1a0dff;
  align-self: flex-start;
  border-radius: 50%;
  text-align: center;
  float: left;
  margin-right: 30px;
  opacity: 0.6;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
figure img:hover {
  opacity: 1;
  transform: scale(1.1);
}
.division {
  margin-right: 80px;
  margin-left: 80px;
  box-shadow: inset -5px -5px 17px 3px rgba(250, 5, 5, 0.3),
    5px 5px 10px 3px rgba(60, 115, 233, 0.2);
  padding: 20px 10px;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: var(--accent-color);
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  body {
    font-size: 2em;
  }
  nav a {
    font-size: 2.8em;
  }
  figure img {
    max-width: 180px;
  }
}

@media only screen and (max-width: 992px) {
  body {
    font-size: 1.8em;
  }
  nav a {
    font-size: 2.5em;
  }
  figure img {
    max-width: 150px;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 1.5em;
  }
  header {
    font-size: 0.5em;
  }
  nav a {
    font-size: 2em;
  }
  figure img {
    max-width: 120px;
  }
}

@media only screen and (max-width: 576px) {
  .header img {
    display: none;
  }
  img {
    max-width: 50%;
  }
  body {
    font-size: 1.2em;
  }
  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }
  nav a {
    font-size: 1.8em;
  }
  figure img {
    max-width: 100px;
  }
  .division {
    margin-right: 40px;
    margin-left: 40px;
  }
}

@media only screen and (max-width: 400px) {
  body {
    font-size: 1em;
  }
  nav a {
    font-size: 1.5em;
  }
  figure img {
    max-width: 80px;
  }
  .division {
    margin-right: 20px;
    margin-left: 20px;
  }
}

/* ................................................................................footer minden beállítása */
footer {
  text-align: center; /* Kép középre igazítása */
  margin-top: 20px; /* 20px távolság a body-tól */
  background-image: url(../pictures/book2.jpg);
  margin-top: 100px;
  opacity: 0.8;
}
footer img {
  margin-top: 10px; /* Kép fölé 10px távolság */
}
footer img:hover {
  transform: scaleX(-1);
  transition: transform 1.5s ease-in-out; /* 1.5 másodperc az animáció időtartama, ease-in-out timing function */
}

/* ................................................................................arhívum menü (könyvespolc, polc, könyvek...) minden beállítása */
.bookshelf-container {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  position: relative;
  background-image: url(../pictures/pergamen2jpg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 1px;
  padding-right: 1px;
  border-radius: 10px;
}
.bookshelf {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 2px;
  margin-left: 5px;
}
.book {
  border-radius: 10px;
  margin: 10px 5px 0px 0px;
  font-family: 'Italianno', cursive;
  font-weight: 400;
  font-size: 0.7em;
  background-color: var(--primary-color);
  border-top: 3px ridge var(--secondary-color);
  border-right: 8px ridge var(--secondary-color);
  border-bottom: 3px ridge var(--secondary-color);
  border-left: 10px ridge var(--secondary-color);
  box-shadow: -5px 4px 11px 3px var(--dark-color);
  box-shadow: -5px 4px 11px 3px rgba(0, 0, 0, 0.75);
  transition: transform 1.2s;
  opacity: 0.7;
  align-self: flex-end; /* Könyvek alulra igazítása */
  height: 190px;
}
.book-link {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
  background: var(--light-color);
  padding: 5px;
  position: relative;
  top: 40px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.book:hover {
  transform: translate(8px, 10%);
  transition: transform 1.2s;
}
.book-link:hover {
  color: var(--light-color);
  background: var(--dark-color);
  color: var(--accent-color);
  transition: transform 1.2s;
}
.shelf {
  width: calc(100% + 300px);
  height: 20px;
  background-color: transparent;
  background-image: url('../pictures/polc.jpg');
  background-repeat: repeat-x;
  background-position: center;
  margin: 0 -10px;
}
/* Az első gyerek elem formázása */
.bookshelf > .book:first-child {
  opacity: 0;
}
/* Vízszintes görgetősáv */
::-webkit-scrollbar {
  width: 0px;
  max-height: 12px;
}
/* A görgetősáv kitöltése */
::-webkit-scrollbar-track {
  background-color: var(--primary-color);
  border-radius: 12px;
}
/* A görgetősáv kurzorának területe */
::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 50%;
}
/* Aktív állapot */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--light-color);
}

/* ................................................................................vissza a lap tetejére gomb minden beállítása */
#scrollToTopBtn {
  display: none; /* Kezdetben ne legyen látható */
  position: fixed; /* Legyen rögzítve az ablakhoz, hogy mindig látható legyen */
  bottom: 20px;
  right: 20px;
  padding: 15px 25px 15px 5px;
  background-image: url(../pictures/ismétlőjel2.png);
  background-repeat: no-repeat;
  background-position: right;
  background-color: var(--light-color);
  color: var(--accent-color);
  border: none;
  border-radius: 9px;
  cursor: pointer;
  z-index: 1000; /* Biztosítsd, hogy a gomb mindig más elemek fölött legyen */
  opacity: 0.7;
}

#scrollToTopBtn:hover {
  opacity: 1;
  background-color: antiquewhite;
  color: red;
  transition: all 500ms ease-in;
}

/* ................................................................................képek galéria minden beállítása */
.gallery {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.gallery-images {
  display: flex;
}

.gallery-images img {
  max-width: 230px;
  padding: 5px;
  margin-right: 5px;
  height: auto;
  filter: grayscale(60%);
  transition: 1s;
}

.gallery img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

.gallery button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#prevButton {
  left: 10px;
}

#nextButton {
  right: 18px;
}

#fullImageView {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
}

#fullImage {
  padding: 5px;
  max-width: 98%;
  max-height: 98%;
}

#closeButton {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 2em;
  color: azure;
  cursor: pointer;
}
#prevButtonFullScreen,
#nextButtonFullScreen {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  z-index: 2;
}

#prevButtonFullScreen {
  left: 10px;
}

#nextButtonFullScreen {
  right: 10px;
}

/* Reszponzív stílusok */
@media only screen and (max-width: 1200px) {
  body {
    font-size: 2em;
  }

  nav a {
    font-size: 3em;
  }

  footer {
    margin-top: 80px;
    background-size: contain;
  }

  .book {
    height: 170px;
  }
}

@media only screen and (max-width: 992px) {
  body {
    font-size: 1.7em;
  }

  nav a {
    font-size: 2.5em;
  }

  .division {
    margin-right: 60px;
    margin-left: 60px;
  }

  footer {
    margin-top: 60px;
    background-size: cover;
  }

  .book {
    height: 150px;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 1.5em;
  }

  nav ul {
    flex-flow: column nowrap;
  }

  nav a {
    font-size: 2.2em;
  }

  header {
    font-size: 0.5em;
  }

  section:first-of-type {
    margin-top: 100px;
    padding-top: 30px;
  }

  .division {
    margin-right: 40px;
    margin-left: 40px;
  }

  footer {
    margin-top: 40px;
    background-size: contain;
  }

  .book {
    height: 130px;
  }
}

@media only screen and (max-width: 576px) {
  body {
    font-size: 1.2em;
  }

  nav a {
    font-size: 2em;
  }

  section:first-of-type {
    margin-top: 70px;
    padding-top: 20px;
  }

  .division {
    margin-right: 20px;
    margin-left: 20px;
  }

  footer {
    margin-top: 20px;
    background-size: cover;
  }

  .book {
    height: 110px;
  }
}

/* ................................................................................audió galéria minden beállítása */
.audio-item {
  position: relative;
  display: inline-block;
  margin-right: 10px; /* Szükség esetén módosítsd a margin értékét */
}

.audio-item img {
  max-width: 225px; /* Beállítom a képek méretét */
  height: auto;
  display: block;
  border-radius: 18px;
}

.audio-item:hover {
  transition: 1s;
  transform: scale(1.1);
  filter: sepia(100%) drop-shadow(3px 3px 5px gray);
}

.audio-description {
  text-align: center; /* Szövegközépre igazítás */
  margin-bottom: 0px;
}
.audio-description h3,
.audio-description p {
  margin: 1px; /* Térköz a szöveg és a kép között */
}

.audio-controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 1001;
}

.audio-item:hover .audio-controls {
  opacity: 1;
  transition: 1s;
}
audio {
  width: 250px;
  background-color: transparent;
}

/* Reszponzív audió galéria */
@media only screen and (max-width: 768px) {
  .audio-item {
    display: block;
    margin-bottom: 20px;
    margin-right: 0;
    text-align: center;
  }

  audio {
    width: 100%;
  }
}

/* ...............................................................................videó galéria minden beállítása */
.video-container {
  display: flex;
  flex-wrap: wrap;
}

.video {
  position: relative;
  width: calc(20% - 20px);
  aspect-ratio: 16 / 9;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  box-sizing: border-box;
  filter: sepia(100%);
  transition: 1s;
}

.video:hover {
  filter: sepia(0);
  transform: scale(1.1);
}

.video iframe {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1; /* Helyezd az iframe-et a rétegek tetejére */
}

.video-description {
  text-align: center; /* Szövegközépre igazítás */
  margin-bottom: 0px;
}
.video-description h3,
.video-description p {
  margin: 1px; /* Térköz a szöveg és a kép között */
}

/* Reszponzív videó galéria */
@media only screen and (max-width: 1200px) {
  .video {
    width: calc(25% - 20px);
  }
}

@media only screen and (max-width: 992px) {
  .video {
    width: calc(33.33% - 20px);
  }
}

@media only screen and (max-width: 768px) {
  .video {
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 576px) {
  .video {
    width: calc(100% - 20px);
    margin-right: 0;
  }
}

/* ...............................................................................tagok szekció minden beállítása */
.members {
  background-image: url(../pictures/stiop3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 250px;
  filter: sepia(90%);
}

.members:hover {
  filter: sepia(0);
  transition: all 2s;
}

.member-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: 28px;
  height: 300px;
  color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  position: relative;
}

h4 {
  margin-top: 0;
  margin-right: 10px;
}
.circle::after {
  content: attr(data-name);
  position: absolute;
  top: 10%;
  left: 40%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.9s ease;
}

.circle:hover::after {
  opacity: 1;
  position: absolute;
  top: -100px;
  transition: all 2s;
}

.basszus {
  position: absolute;
  top: 60px;
  right: 180px;
}

.tenor {
  position: absolute;
  top: 60px;
  left: 180px;
}

.szoprán {
  position: absolute;
  bottom: 60px;
  left: 40px;
}

.alt {
  position: absolute;
  bottom: 50px;
  right: 30px;
}

/* Reszponzív tagok szekció */
@media only screen and (max-width: 768px) {
  .members {
    padding: 150px;
  }

  .basszus,
  .tenor,
  .szoprán,
  .alt {
    position: static;
    margin-bottom: 20px;
  }
}

/* ...............................................................................aktuális szekció minden beállítása */
.card-container {
  display: flex;
  justify-content: center; /* A kártyák középre igazítása */
  flex-wrap: wrap; /* Hogy a kártyák sortörése történhessen, ha kisebb az ablak */
}

.card {
  flex-basis: calc(
    33.33% - 20px
  ); /* Három egyenlő szélességű kártya egymás mellett, 20px margóval */
  width: calc(33.33% - 20px); /* Hozzáadva a kártya szélességének beállítása */
  background-color: transparent;
  padding: 1px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: -1px -3px 17px 4px var(--primary-color) inset;
  text-align: left;
}
.card h3 {
  text-align: center;
  margin-bottom: 10px;
}

/* Reszponzív kártyák */
@media screen and (max-width: 768px) {
  .card {
    flex-basis: calc(50% - 20px); /* Két kártya egymás alatt, 20px margóval */
    width: calc(50% - 20px); /* Két kártya szélessége */
  }
}

@media screen and (max-width: 480px) {
  .card {
    flex-basis: calc(
      100% - 20px
    ); /* Egy kártya teljes szélessége, 20px margóval */
    width: calc(100% - 20px); /* Egy kártya teljes szélessége */
  }
}

/* ...............................................................................kapcsolat szekció minden beállítása */
input[type='text'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='submit'] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #45a049;
}

/* Reszponzív kapcsolat szekció */
@media only screen and (max-width: 768px) {
  input[type='text'],
  select {
    width: 100%;
    padding: 10px 15px;
  }

  input[type='submit'] {
    width: 100%;
    padding: 12px 15px;
  }
}
